.main {
  background-color: rgb(49, 49, 49);
  color: black;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 95vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* background-color: #090a0b; */
}
form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.wrapper {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(133, 133, 133, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: max-content;
}

.title {
  font-size: 25px;
  margin-bottom: 30px;
  transform: translateX(15%);
}

.username,
.email,
.password {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.register {
  justify-content: center;
  display: flex;
}
.submit {
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
  /* background: #0143d2; */
  background-color: #0143d2 ;
  border: 1px solid #0143d2;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 4px;
}


/* .input-email {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
} */
