tr:hover {
  background-color: rgb(102, 102, 102);
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
  /* background-color: rgb(102, 102, 102); */
}

td {
  justify-content: center;
  text-align: center;
  padding: 10px;
}
