.main {
  width: 800px;
  background: rgba(0, 0, 0, 0.5);
  height: max-content;
}
.content {
  background: #fff;
  width: 100%;
  color: black;
  border-radius: 10px;
}

.rate {
  display: flex;
  margin-left: 20px;
}
.star-rating {
  margin-left: 27%;
}

.review {
  width: 95%;
  border-radius: 6px;
  height: 150px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
}

.on {
  color: orange;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
.off {
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit {
  border: 2px solid black;
  color: white;
  font-size: 18px;
  background-color: green;
  cursor: pointer;
}

.wrapper {
  justify-content: center;
  display: flex;
}
