.navbar {
  width: 100%;
  background-color: rgb(42, 41, 41);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
}

.left {
  background-color: var(--main-color);
  display: flex;
  position: relative;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 40px;
  margin-top: 5px;
}

.list {
  width: 40px;
  height: 30px;
  color: white;
  margin-left: 60;
  padding: 10px 30px;
  cursor: pointer;
}

.home {
  background-color: var(--main-color);
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

/* .search {
  position: relative;
  top: 10px;
  width: 50%;
  height: 30px;
  margin-left: 100px;
} */

.right {
  background-color: var(--main-color);
  display: flex;
  margin-left: 150px;
}

.watch-list {
  font-size: 14px;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.register {
  font-size: 14px;
  background-color: var(--main-color);
  margin-left: 30px;
  color: white;
  cursor: pointer;
  border: none;
}

.sign-in,
.sign-out {
  font-size: 14px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: none;
  margin-left: 30px;
}
