.main {
  background-color: black;
  color: white;
}
.wrapper {
  display: flex;
}
.avatar {
  width: 200px;
  height: 300px;
  margin-left: 120px;
  margin-top: 50px;
}

.actor-information {
  color: white;
  margin-left: 40px;
  margin-top: 50px;
  /* display: block ; */
}
.actor-name {
  color: white;
  font-size: 30px;
}
.actor-birthday {
  margin-top: 10px;
}

.actor-story {
  width: 600px;
  margin-top: 10px;
}

.container{
  margin-left: 80px;
}
.title{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 30px;  
}
.highest-scored {
  display: flex;
  /* justify-content: space-around; */
  justify-self: start;

}
